<li class="list-group-item" [ngClass]="{
  'list-group-item-success': post.loveIts > 0,
  'list-group-item-danger': post.loveIts < 0
  }">
  <div class="row">
    <h2 class="col-xs-8">{{post.title}}</h2>
    <p class="col-xs-4" id="laDate">{{ created_at | date: 'short' }}</p>
  </div>
  <div class="row">
    <p class="col-xs-12">{{post.content}}</p>
  </div>
  <button type="button" class="btn btn-success" (click)="addLike()">Love it!</button>
  <button type="button" class="btn btn-danger" (click)="removeLike()">Don't love it!</button>
</li>
<br/>

